<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homepage</title>
</head>
<body>
    <h1>This is homepage using ejs as a view engine </h1>
    <h1>1+3</h1>
    <h1> <%= 1+3 %> </h1>
    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate aliquid recusandae alias explicabo cumque reiciendis iure expedita ullam sequi assumenda!</h2>
    <button>Click me!</button>
</body>
</html>